h1
{
  color: darkgreen;
  background-color: darksalmon;
}
.text-yelow
{
  color: yellow;
  background-color: grey;
}
strong{
  color: antiquewhite;
  background-color: black;
}
#example-3
{
  color: brown;
  background-color: cyan;
}